PORT=8090
BcryptHashRound=11
REFRESH_SECRET_TOKEN=06788ed74c52baf6ecff287246caa01619f03ca1b1451b872ad1f182728d3694f227c22b35dc775ac634cd88e1c17fa80fface0cf30127b34dc8cfed063a240db46c
RESET_PASSWORD_URL=users/update-password
LOGIN_URL=login
DATABASE_SCHEMA='public'
MINIO_HOST=127.0.0.1
MINIO_PORT= 9003
MINIO_USE_SSL= false
MINIO_ACCESS_KEY= admin
MINIO_SECRET_KEY= password
MINIO_BUCKET_NAME ='starterkit'

POSTGRES_CONTAINER_NAME=starterkit-postgres-db
POSTGRES_IMAGE=postgres:17
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=starterkit
POSTGRES_HOST=localhost
# Minio Configuration
MINIO_IMAGE=minio/minio:latest
MINIO_CONTAINER_NAME=starterkit-minio
MINIO_PORT=9000
MINIO_ACCESS_PORT=9010
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=password
# Redis Configuration
REDIS_IMAGE=redis:latest
REDIS_CONTAINER_NAME=starterkit-redis
REDIS_PORT=6380
JWT_SECRET="db^:af>,Wq;5-Na]OzYuysKF+GD?q8khNo+G43]uc9E,DdlkIM4](.b|T"
REFRESH_SECRET_TOKEN=06788ed74c52baf6ecff287246caa01619f03ca1b1451b872ad1f182728d3694f227c22b35dc775ac634cd88e1c17fa80fface0cf30127b34dc8cfed063a240db46c